.mainbody {
 background-color: #212329;
}

.article3header {
  text-align: center;
  color: #FFFAFA;
}

.article3mainpic {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.article3mainpic img {
  border-radius: 20px;
  width: 50%;
  padding: 5px 10px 0 10px;
}

.text {
  width: 80%;
  text-align: justify;
  color: 	#FFFFFF;
  padding: 10px 150px 20px 150px;
  border: 5px;
  margin: auto;
  line-height: 1.6;
}

.link {
  font-weight: bold;
  text-decoration: none;
  color: #FFFAFA;
}

.subheaders {
  margin: 10px 0 10px 0;
}

.article3pics {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.article3pics img {
  border-radius: 20px;
  width: 50%;
  padding: 5px 10px 0 10px;
}
