.mainbody {
   background-color: #212329;
}

.article5header {
  text-align: center;
  color: #FFFAFA;
}

.article5mainpic {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.article5mainpic img {
  border-radius: 20px;
  width: 50%;
  padding: 5px 10px 0 10px;
}

.bottomblock {
  border-right: 2px solid #FF0000;
  padding: 15px;
  margin: 0 20px 0 0;
}

.articlealign {
  display: flex;
  justify-content: center;
  border-top: 2px solid #FF0000;
  border-right: 2px solid #FF0000;
  padding: 60px 15px 30px 15px;
  margin: 20px 20px 0px 20px;
  border-top-right-radius: 30px;
  z-index: -1;
}

.article5pic {
 width: 40%;
 border: 5px;
}

.article5pic img {
  border-radius: 20px;
  width: 100%;
}

.teamheader {
 margin-bottom: -35px;
 letter-spacing: 2.5px;
 font-size: 25px;
 position: relative;
}

.teamheader span {
  background-color: #212329;
  padding: 10px;
}

.a5text1 {
  width: 40%;
  color: 	#FFFFFF;
  margin: 10px;
  line-height: 1.6;
  border: 5px;
}

.a5text2 {
  width: 100%;
  color: 	#FFFFFF;
  padding: 5px 10% 0 10%;
  line-height: 1.6;
  width: 80%;
  border: 5px;
  margin: auto;
}

#alfaromeo{
  padding-left: 10%;
  color: #FF0000;
}

#alphatauri {
  padding-left: 10%;
  color: #FFFFF0;
}

#alpine {
  padding-left: 10%;
  color: #4169E1;
}

#astonmartin {
  padding-left: 10%;
  color: #007100;
}

#ferrari {
  padding-left: 10%;
  color: #FF0000;
}

#haas {
  padding-left: 10%;
  color: #FF0000;
}

#mclaren{
  padding-left: 10%;
  color: #FFA500;
}

#mercedes {
  padding-left: 10%;
  color: #C0C0C0;
}

#redbull {
  padding-left: 10%;
  color: #FF0000;
}

#williams {
  padding-left: 10%;
  color: #4169E1;
}

/* Viewport for screen width size 1001 pixels to 1920 pixels */
@media (max-width: 1920px) and (min-width: 1001px) {

}

/* Viewport for screen width size 768 pixels to 1000 pixels */
@media (max-width: 1000px) and (min-width: 768px) {

  .articlealign {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .article5pic {
    order: 1;
    padding: 10px;
    width: 70%;
  }

  .a5text1 {
    order: 2;
    width: 80%;
  }

  .a5text2 {
    width: 100%;
  }

  .teamheader {
   margin-bottom: -15px !important;
   letter-spacing: 2.5px;
   font-size: 25px;
   position: relative;
  }

  .bottomblock {
    border-right: 2px solid #FF0000;
    margin: 0;
  }
}

/* Viewport for screen width size 576 pixels to 768 pixels */
@media (max-width: 768px) and (min-width: 576px) {

  .articlealign {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .article5pic {
    order: 1;
    padding: 10px;
    width: 70%;
  }

  .a5text1 {
    order: 2;
    width: 80%;
    font-size: 15px;
  }

  .a5text2 {
    width: 100%;
    font-size: 15px;
  }

  .teamheader {
   margin-bottom: -15px !important;
   letter-spacing: 2.5px;
   font-size: 25px;
   position: relative;
  }

  .bottomblock {
    border-right: 2px solid #FF0000;
    margin: 0;
  }

  .article5mainpic img {
    border-radius: 20px;
    width: 80%;
    padding: 5px 10px 0 10px;
  }
}

/* Viewport for screen width size 320 pixels to 576 pixels */
@media (max-width: 576px) and (min-width: 320px) {

  .article5mainpic img {
    border-radius: 20px;
    width: 90%;
    padding: 5px 10px 0 10px;
  }

  .articlealign {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .article5pic {
    order: 1;
    padding: 10px;
    width: 90%;
  }

  .a5text1 {
    order: 2;
    width: 80%;
    font-size: 11px;
  }

  .a5text2 {
    width: 100%;
    font-size: 11px;
  }

  .teamheader {
   margin-bottom: -15px !important;
   letter-spacing: 2.5px;
   font-size: 25px;
   position: relative;
  }

  .bottomblock {
    border-right: 2px solid #FF0000;
    margin: 0;
  }
}
