/* Body */
/* Standardised background colour throughout the page */
.mainbody {
 background-color: #212329;
}

/* Page header styling */
.article1header {
  text-align: center;
  color: #FFFAFA;
}

/* Main article image styling */
.article1mainpic {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.article1mainpic img {
  border-radius: 20px;
  width: 50%;
  padding: 5px 10px 0 10px;
}

.articlealignleft {
  display: flex;
  justify-content: center;
  border: 5px;
  width: 80%;
  margin: auto;
}

.a1text1 {
  width: 40%;
  color: 	#FFFFFF;
  padding: 10px;
  line-height: 1.6;
  border: 2px;
}

.article1pic1{
 width: 40%;
}

.article1pic1 img{
  border-radius: 20px;
  width: 100%;
  position: sticky;
  top: 25vh;
}

.caption {
  color: #FFFF00;
  font-size: 20px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
  position: sticky;
  top: 65vh;
}

.a1text2 {
  width: 80%;
  color: #FFFFFF;
  padding: 10px 150px 20px 150px;
  border: 5px;
  margin: auto;
  line-height: 1.6;
}

.articlealignright {
  display: flex;
  justify-content: center;
  border: 5px;
  width: 80%;
  margin: auto;
}

.a1text3 {
  width: 40%;
  color: 	#FFFFFF;
  padding: 10px;
  line-height: 1.6;
}

.article1pic2{
 width: 40%;
}

.article1pic2 img{
  border-radius: 20px;
  width: 100%;
  position: sticky;
  top: 25vh;
}

.link {
  font-weight: bold;
  text-decoration: none;
  color: #FFFF00;
}

.countdown {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  color: #FFFAFA;
  padding: 10px;
}

#demo {
  text-align: center;
  font-size: 100px;
  margin-top: 10px;
  color: #FFFAFA;
}

/* Slideshow container */
.slideshow-container {
  max-width: 40%;
  position: relative;
  padding-top: 20px;
  margin: auto;
  border: 2px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  max-width: 100%;
  margin: auto;
}

.mySlides img {
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Positioning the next and previous buttons */
.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a dark translucent background color*/
.prev:hover, .next:hover {
  background-color: grey;
  border-radius: 25px;
}

/* Caption text */
.text {
  color: #FFFAFA;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Viewport for screen width size 1001 pixels to 1920 pixels */
@media (max-width: 1920px) and (min-width: 1001px) {

}

/* Viewport for screen width size 768 pixels to 1000 pixels */
@media (max-width: 1000px) and (min-width: 768px) {

  .articlealignleft {
    display: block;
    border: 5px;
    margin: auto;
    width: 100%;
    justify-content: center;
  }

  .a1text1 {
    width: 100%;
    color: 	#FFFFFF;
    padding: 40px;
    line-height: 1.6;
    border: 2px;
    font-size: 20px;
  }

  .article1pic1{
   width: 60%;
   margin: auto;
  }

  .article1pic1 img{
    border-radius: 20px;
    width: 100%;
  }

  .caption {
    color: #FFFF00;
    font-size: 20px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
  }

  .a1text2 {
    width: 100%;
    color: 	#FFFFFF;
    padding: 40px;
    line-height: 1.6;
    border: 2px;
    font-size: 20px;
  }

  .articlealignright {
    display: block;
    border: 5px;
    margin: auto;
    width: 100%;
    justify-content: center;
  }

  .a1text3 {
    width: 100%;
    color: 	#FFFFFF;
    padding: 40px;
    line-height: 1.6;
    border: 2px;
    font-size: 20px;
  }

  .article1pic2{
   width: 60%;
   margin: auto;
  }

  .article1pic2 img{
    border-radius: 20px;
    width: 100%;
  }

  .slideshow-container {
    max-width: 50%;
  }

  .countdown {
    max-width: 80%;
  }

}

/* Viewport for screen width size 768 pixels to 1000 pixels */
@media (max-width: 768px) and (min-width: 576px) {
  .article1mainpic {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .article1mainpic img {
    border-radius: 20px;
    width: 70%;
    padding: 5px 10px 0 10px;
  }

  .articlealignleft {
    display: block;
    border: 5px;
    margin: auto;
    width: 100%;
    justify-content: center;
  }

  .a1text1 {
    width: 100%;
    color: 	#FFFFFF;
    padding: 40px;
    line-height: 1.6;
    border: 2px;
    font-size: 20px;
  }

  .article1pic1{
   width: 60%;
   margin: auto;
  }

  .article1pic1 img{
    border-radius: 20px;
    width: 100%;
  }

  .caption {
    color: #FFFF00;
    font-size: 20px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
  }

  .a1text2 {
    width: 100%;
    color: 	#FFFFFF;
    padding: 40px;
    line-height: 1.6;
    border: 2px;
    font-size: 20px;
  }

  .articlealignright {
    display: block;
    border: 5px;
    margin: auto;
    width: 100%;
    justify-content: center;
  }

  .a1text3 {
    width: 100%;
    color: 	#FFFFFF;
    padding: 40px;
    line-height: 1.6;
    border: 2px;
    font-size: 20px;
  }

  .article1pic2{
   width: 60%;
   margin: auto;
  }

  .article1pic2 img{
    border-radius: 20px;
    width: 100%;
  }

  .slideshow-container {
    max-width: 50%;
  }
}

/* Viewport for screen width size 320 pixels to 576 pixels */
@media (max-width: 576px) and (min-width: 320px) {

  .article1mainpic {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .article1mainpic img {
    border-radius: 20px;
    width: 100%;
    padding: 5px 10px 0 10px;
  }

  .articlealignleft {
    display: block;
    border: 5px;
    margin: auto;
    width: 100%;
    justify-content: center;
  }

  .a1text1 {
    width: 100%;
    color: 	#FFFFFF;
    padding: 40px;
    line-height: 1.6;
    border: 2px;
    font-size: 10px;
  }

  .article1pic1{
   width: 90%;
   margin: auto;
  }

  .article1pic1 img{
    border-radius: 20px;
    width: 100%;
  }

  .caption {
    color: #FFFF00;
    font-size: 15px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
  }

  .a1text2 {
    width: 100%;
    color: 	#FFFFFF;
    padding: 40px;
    line-height: 1.6;
    border: 2px;
    font-size: 10px;
  }

  .articlealignright {
    display: block;
    border: 5px;
    margin: auto;
    width: 100%;
    justify-content: center;
  }

  .a1text3 {
    width: 100%;
    color: 	#FFFFFF;
    padding: 40px;
    line-height: 1.6;
    border: 2px;
    font-size: 10px;
  }

  .article1pic2{
   width: 90%;
   margin: auto;
  }

  .article1pic2 img{
    border-radius: 20px;
    width: 100%;
  }

  .slideshow-container {
    max-width: 80%;
  }

  .countdown {
    max-width: 80%;
  }

  .countdown h1 {
    font-size: 30px;
  }

  #demo {
      font-size: 30px;
  }

}
