.mainbody {
 background-color: #212329;
}

.article4header {
  text-align: center;
  color: #FFFAFA;
}

.article4mainpic {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.article4mainpic img {
  border-radius: 20px;
  width: 50%;
  padding: 5px 10px 0 10px;
}

.articlealign {
  display: flex;
  justify-content: center;
  width: 80%;
  border: 5px;
  margin: 10px auto;
}

.subheader {
  color: #FF0000;
}

.maintext {
  width: 100%;
  text-align: justify;
  display: center;
  color: 	#FFFFFF;
  padding: 10px 150px 20px 150px;
  line-height: 1.6;
}

.text {
  width: 40%;
  display: center;
  color: 	#FFFFFF;
  margin: 10px;
  line-height: 1.6;
}

.article4pics {
 width: 50%;
}

.article4pics img {
  border-radius: 20px;
  width: 100%;
  position: sticky;
  top: 25vh;
}

/* Viewport for screen width size 1001 pixels to 1920 pixels */
@media (max-width: 1920px) and (min-width: 1001px) {

}

/* Viewport for screen width size 768 pixels to 1000 pixels */
@media (max-width: 1000px) and (min-width: 768px) {

  .articlealign {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .article4pics {
    order: 1;
    padding: 10px;
  }

  .text {
    order: 2;
    width: 80%;
  }
}

/* Viewport for screen width size 576 pixels to 768 pixels */
@media (max-width: 768px) and (min-width: 576px) {

  .article4header {
    font-size: 30px;
  }

  .article4mainpic img {
    border-radius: 20px;
    width: 70%;
    padding: 5px 10px 0 10px;
  }

  .articlealign {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .article4pics {
    order: 1;
    padding: 10px;
    width: 70%;
  }

  .text {
    order: 2;
    width: 90%;
  }
}

/* Viewport for screen width size 320 pixels to 576 pixels */
@media (max-width: 576px) and (min-width: 320px) {

  .article4header {
    font-size: 35px;
  }

  .article4mainpic img {
    border-radius: 20px;
    width: 100%;
    padding: 5px 10px 0 10px;
  }

  .maintext {
    width: 100%;
    text-align: justify;
    display: center;
    color: 	#FFFFFF;
    padding: 10px 50px 20px 50px;
    line-height: 1.6;
    font-size: 11px;
  }

  .articlealign {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .article4pics {
    order: 1;
    padding: 10px;
    width: 90%;
  }

  .text {
    order: 2;
    width: 100%;
    font-size: 11px;
  }
}
