.mainbody {
 background-color: #212329;
}

.article3header {
  text-align: center;
  color: #FFFAFA;
}

.article3mainpic {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.article3mainpic img {
  border-radius: 20px;
  width: 50%;
  padding: 5px 10px 0 10px;
}

.text {
  width: 80%;
  color: 	#FFFFFF;
  padding: 10px 150px 20px 150px;
  border: 5px;
  margin: auto;
  line-height: 1.6;
}

.link {
  font-weight: bold;
  text-decoration: none;
  color: #FFFF00;
}

.link:hover {
  color: red;
}
.subheaders {
  margin: 10px 0 10px 0;
  color: #00FFFF;
}

.article3pics {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.article3pics img {
  border-radius: 20px;
  width: 50%;
  padding: 5px 10px 0 10px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  position: relative;
  padding-top: 20px;
  margin: auto;
  border: 2px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  max-width: 100%;
  margin: auto;
}

.mySlides img {
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 22px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Positioning the next and previous buttons */
.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a dark translucent background color*/
.prev:hover, .next:hover {
  background-color: grey;
  border-radius: 25px;
}

/* Caption text */
.pictext {
  color: #FFFAFA;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#controversy {
  text-align: justify;
}

/* Viewport for screen width size 1001 pixels to 1920 pixels */
@media (max-width: 1920px) and (min-width: 1001px) {

  .prev, .next {
    top: 40%;
  }
}

/* Viewport for screen width size 768 pixels to 1000 pixels */
@media (max-width: 1000px) and (min-width: 768px) {

  .article3mainpic img {
    border-radius: 20px;
    width: 80%;
    padding: 5px 10px 0 10px;
  }

  .text {
    width: 100%;
    color: 	#FFFFFF;
    padding: 10px 140px 20px 140px;
    border: 5px;
    margin: auto;
    line-height: 1.6;
  }

  .article3pics img {
    border-radius: 20px;
    width: 80%;
    padding: 5px 10px 0 10px;
  }

  .pictext {
    color: #FFFAFA;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .prev, .next {
    top: 40%;
  }
}

/* Viewport for screen width size 576 pixels to 768 pixels */
@media (max-width: 768px) and (min-width: 576px) {

  .article3mainpic img {
    border-radius: 20px;
    width: 90%;
    padding: 5px 10px 0 10px;
  }

  .text {
    width: 100%;
    color: 	#FFFFFF;
    padding: 10px 110px 20px 110px;
    border: 5px;
    margin: auto;
    line-height: 1.5;
  }

  .prev, .next {
    top: 40%;
  }

  .slideshow-container {
    max-width: 70%;
  }

  .article3pics img {
    border-radius: 20px;
    width: 90%;
    padding: 5px 10px 0 10px;
  }

}

/* Viewport for screen width size 320 pixels to 576 pixels */
@media (max-width: 576px) and (min-width: 320px) {

  .article3mainpic img {
    border-radius: 20px;
    width: 90%;
    padding: 5px 10px 0 10px;
  }

  .text {
    width: 100%;
    color: 	#FFFFFF;
    padding: 10px 70px 20px 70px;
    border: 5px;
    margin: auto;
    line-height: 1.5;
    font-size: 10px;
  }

  .slideshow-container {
    max-width: 80%;
  }

  .prev, .next {
    top: 30%;
  }

  .pictext {
    font-size: 10px;
  }

  .article3pics img {
    border-radius: 20px;
    width: 100%;
    padding: 5px 10px 0 10px;
  }
}
