/* Standardised background colour throughout the page */
.mainbody {
 background-color: #212329;
}

/* Page header styling */
.article2header {
  text-align: center;
  color: #FFFAFA;
  padding: 10px;
}

/* Main article image styling */
.article2mainpic {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.article2mainpic img {
  border-radius: 20px;
  width: 50%;
  padding: 5px 10px 0 10px;
}

/* Container holding text styling */
.a2text {
  width: 80%;
  color: 	#FFFFFF;
  padding: 10px 150px 20px 150px;
  border: 5px;
  margin: auto;
  line-height: 1.6;
}

.quotes {
  text-align: center;
  padding: 15px;
}

.quotespic {
  padding: 14px;
  width: 25%;
}

/* GIF styling */
.gif {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* Embedded video stylingS */
.embeddedvideo {
  display: flex;
  justify-content: center;
  margin: 10px;
}

/* Viewport for screen width size 1001 pixels to 1920 pixels */
@media (max-width: 1920px) and (min-width: 1001px) {

}

/* Viewport for screen width size 768 pixels to 1000 pixels */
@media (max-width: 1000px) and (min-width: 768px) {

  .article2header {
    width: 80%;
    margin: auto;
  }

  .a2text {
    width: 100%;
    color: 	#FFFFFF;
    padding: 10px 150px 20px 150px;
    border: 5px;
    margin: auto;
    line-height: 1.6;
    font-size: 20px;
  }

  .article2mainpic img {
    border-radius: 20px;
    width: 70%;
    padding: 5px 10px 0 10px;
  }
}

/* Viewport for screen width size 768 pixels to 1000 pixels */
@media (max-width: 768px) and (min-width: 576px) {

  .article2header {
    width: 90%;
    margin: auto;
  }

  .article2mainpic img {
    border-radius: 20px;
    width: 80%;
    padding: 0 10px 0 10px;
  }

  .a2text {
    width: 100%;
    color: 	#FFFFFF;
    padding: 10px 80px 20px 80px;
    border: 5px;
    margin: auto;
    line-height: 1.5;
    font-size: 18px;
  }

  .gif {
    width: 80%;
    display: flex;
    justify-content: center;
    margin:auto;
  }

  .embeddedvideo {
      display: flex;
      justify-content: center;
      width: 90%;
  }
}

/* Viewport for screen width size 320 pixels to 576 pixels */
@media (max-width: 576px) and (min-width: 320px) {

  .article2header {
    width: 100%;
    margin: auto;
  }

  .article2mainpic img {
    border-radius: 20px;
    width: 90%;
    padding: 0 10px 0 10px;
  }

  .a2text {
    width: 100%;
    color: 	#FFFFFF;
    padding: 10px 70px 20px 70px;
    border: 5px;
    margin: auto;
    line-height: 1.5;
    font-size: 10px;
  }

  .gif img{
    width: 100%;
  }

  .embeddedvideo {
      display: flex;
      justify-content: center;
      width: 70%;
      margin: auto;
  }
}
