/* Body */
.mainbody{
 background-color: #212329;
}

.articles:hover {
  cursor: pointer;
}
.articlealign {
  display: flex;
  justify-content: center;
}

.article1mainpic {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.article1mainpic img {
  border-radius: 20px;
  width: 50%;
  padding: 5px 10px 0 10px;
}

.a1text1 {
  width: 40%;
  display: center;
  color: 	#FFFFFF;
}

.article1pic1{
 width: 40%;
}
.article1pic1 img{
  border-radius: 20px;
   width: 100%;
}
