.mainbody {
 background-color: #212329;
}

.article4header {
  text-align: center;
  color: #FFFAFA;
}

.article4mainpic {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.article4mainpic img {
  border-radius: 20px;
  width: 50%;
  padding: 5px 10px 0 10px;
}

.articlealign {
  display: flex;
  justify-content: center;
  width: 80%;
  border: 5px;
  margin: 10px auto;
}

.subheader {
  color: #FF0000;
}

.maintext {
  width: 100%;
  text-align: justify;
  display: center;
  color: 	#FFFFFF;
  padding: 10px 150px 20px 150px;
  line-height: 1.6;
}

.text {
  width: 40%;
  display: center;
  color: 	#FFFFFF;
  margin: 10px;
  line-height: 1.6;
}

.article4pics {
 width: 50%;
}

.article4pics img {
  border-radius: 20px;
  width: 100%;
  position: sticky;
  top: 25vh;
}
