/*Body*/
.mainbody{
 background-color: #212329;
 display: block;
}

.mainvid {
  margin-top: 200px;
  width: 60%;
  display: grid;
  margin: auto;
  border-radius: 200px;
  overflow: hidden;
  line-height: 0;
}

.mainvid video {
  max-width: 100% !important;
  grid-column-start: 1;
  grid-row-start: 1;
  display: block;
  height: auto !important;
  outline: none;
}

.textbox {
  background: #696969;
  mix-blend-mode: multiply;
  text-align: center;
  grid-column-start: 1;
  grid-row-start: 1;
  overflow: hidden;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1 !important;
}

.textbox span {
  color: #ffff;
  font-weight: 800;
  font-size: 8vw;
}

.articles {
  display: flex;
  justify-content: center;
  position: relative;
}

.article {
  background-color: #494859;
  display: flex;
  flex-direction: row;
  margin: 50px 20px 0 50px;
  padding: 5px;
  border-radius: 10px;
  position: relative;
}

.headertext {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.headerheader{
  text-align: center;
  height: 30%;
  font-weight: bold;
}

.headerdescription{
  height: 50%;
}

.headertext a{
  text-decoration: underline;
  text-align: center;
  color: #000000;
  margin-top: 5%;
}

.article img {
  max-width: 50%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

.favteams {
  border: 2px solid #FF0000;
  padding: 60px 15px 30px 15px;
  margin: 20px 20px 0px 20px;
  border-radius: 30px;
  z-index: -1;
  width
}

.teamorg {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
}

.teamheader {
 text-align: center;
 margin-top: 50px;
 margin-bottom: -45px;
 color: #bcc0c9;
 letter-spacing: 2.5px;
 font-size: 20px;
 position: relative;
 padding: 10px;
}

.teamheader span {
  background-color: #212329;
  padding: 10px;
  line-height: 1.6;
}

.f1teams img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.f1teams {
  position: relative;
  padding: 0;
  width: 200px;
  display: block;
  cursor: pointer;
  overflow: hidden;
  margin: 5px;
}


@media (max-width: 4000px) and (min-width: 1280px) {
  .headerheader{
    font-size: 2vw;
  }

  .headerdescription{
    font-size: 1.2vw;
  }

  .headertext a{
    font-size: 1.2vw;
  }

  .articles {
    flex-direction: row;
  }

  .article {
    width: 50% !important;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    transition: 1.5s;
  }

  .article:hover {
    height: auto;
    width: 55% !important;
  }

  .readmore {
  opacity: 0;
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(200, 200, 200, 0.6);
  width: 100%;
  height: 100%;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
  border-radius: 10px;
}

.readmore a{
  color: black;
  text-decoration: none;
}

.f1teams .readmore:hover {
  opacity: 0.5;
}

.f1teams .readmore .text {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
  text-decoration: none;
  color: #FFFFFF;
}

.f1teams .readmore:hover .text {
  opacity: 1;
  transform: translateY(80px);
  -webkit-transform: translateY(80px);
}

}

@media (max-width: 1280px) and (min-width: 1000px) {
  .headerheader{
    font-size: 1.8vw;
  }

  .headerdescription{
    font-size: 1.2vw;
  }

  .headertext a{
    font-size: 1.2vw;
  }

  .articles {
    flex-direction: row;
  }

  .article {
    width: 50%;
  }

  .readmore {
  opacity: 0;
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(200, 200, 200, 0.6);
  width: 100%;
  height: 100%;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
  border-radius: 10px;
}

.readmore a{
  color: black;
  text-decoration: none;
}

.f1teams .readmore:hover {
  opacity: 0.5;
}

.f1teams .readmore .text {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
  text-decoration: none;
  color: #FFFFFF;
}

.f1teams .readmore:hover .text {
  opacity: 1;
  transform: translateY(80px);
  -webkit-transform: translateY(80px);
}
}


@media (max-width: 1000px) and (min-width: 768px) {
  .headerheader{
    font-size: 2vw;
  }

  .headerdescription{
    font-size: 1.2vw;
  }

  .headertext a{
    font-size: 1.2vw;
  }

  .article:hover {
    height: auto;
    width: 80%;
  }

  .articles {
    flex-direction: column;
  }

  .article {
    width: 70%;
    margin: 20px auto;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    transition: 1.5s;
  }

  .readmore {
    display: none;
  }

}

@media (max-width: 768px) and (min-width: 576px) {
  .headerheader{
    font-size: 2.2vw;
  }

  .headerdescription{
    font-size: 1.5vw;
  }

  .headertext a{
    font-size: 1.5vw;
  }

  .article:hover {
    height: auto;
    width: 80%;
  }

  .articles {
    flex-direction: column;
  }

  .article {
    width: 70%;
    margin: 20px auto;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    transition: 1.5s;
  }

  .readmore {
    display: hidden;
    opacity: 0;
  }

  .readmore .text {
    display: hidden;
    opacity: 0;
  }
}

@media (max-width: 576px) and (min-width: 320px) {
  .headerheader{
    font-size: 2.2vw;
  }

  .headerdescription{
    font-size: 1.5vw;
  }

  .headertext a{
    font-size: 1.5vw;
  }

  .article:hover {
    height: auto;
    width: 80%;
  }

  .articles {
    flex-direction: column;
  }

  .article {
    width: 70%;
    margin: 20px auto;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    transition: 1.5s;
  }

  .readmore {
    display: hidden;
    opacity: 0;
  }

  .readmore .text {
    display: hidden;
    opacity: 0;
  }
}
