/*Body*/
.mainbody{
 background-color: #212329;
}

.mainvid {
  padding-top: 15px;
  width: 50%;
  height: 100%;
  display: grid;
  margin: auto;
}

.mainvid video {
  border-radius: 50px;
  width: 100%;
  padding: 5px 10px 0 10px;
  grid-column-start: 1;
  grid-row-start: 1;
}

.textbox {
  background: #696969;
  height: 100%;
  width: 100%;
  color: #ffff;
  font-size: 100px;
  font-weight: 800;
  mix-blend-mode: multiply;
  z-index: 100;
  text-align: center;
  grid-column-start: 1;
  grid-row-start: 1;
  border-radius: 50px;
  padding: 5px 10px 0 10px;
}

.textbox h1 {
  -ms-transform: translateY(25%);
  -webkit-transform: translateY(25%);
  transform: translateY(25%);
  letter-spacing: 50px;
}

.articles {
  display: flex;
  justify-content: center;
  position: relative;
}

.article {
  background-color: #494859;
  width: 50%;
  display: flex;
  flex-direction: row;
  margin: 50px 20px 0 50px;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: 1.5s;
}

.headertext {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.headertext h1{
  text-align: center;
  height: 30%;
}

.headertext p{
  height: 50%;
}

.headertext a{
  height: 20%;
  text-decoration: underline;
  text-align: center;
  color: #000000;
}

.article:hover {
  height: 60%;
  width: 55%;
}

.article img {
  max-width: 50%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

.favteams {
  border: 2px solid #FF0000;
  padding: 60px 15px 30px 15px;
  margin: 20px 20px 0px 20px;
  border-radius: 30px;
  z-index: -1;
}

.teamheader {
 text-align: center;
 margin-top: 50px;
 margin-bottom: -35px;
 color: #bcc0c9;
 letter-spacing: 2.5px;
 font-size: 20px;
 position: relative;
}

.teamheader span {
  background-color: #212329;
  padding: 10px;
}

.f1teams img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.f1teams {
  position: relative;
  padding: 0;
  width: 300px;
  display: block;
  cursor: pointer;
  overflow: hidden;
  margin: 5px;
}

.readmore {
  opacity: 0;
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(200, 200, 200, 0.6);
  width: 100%;
  height: 100%;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
  border-radius: 10px;
}

.readmore a{
  color: black;
  text-decoration: none;
}

.f1teams .readmore:hover {
  opacity: 0.5;
}

.f1teams .readmore .text {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
  text-decoration: none;
  color: #FFFFFF;
}

.f1teams .readmore:hover .text {
  opacity: 1;
  transform: translateY(80px);
  -webkit-transform: translateY(80px);
}
