/*.navbar a {
  background-color: #333;
  overflow: hidden;
  display: inline;
}*/
.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  top: 0;

}

.navbar {
	background: #FF1000; {
		margin: 0px 30px;
	}

}


.rotate_image {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        h1 {
            color: green;
        }

  or

  transform:
         perspective(100px)
         rotateX(0deg)
         rotateY(0deg)
         rotateZ(-180deg)
