/*Navigation Bar*/
*{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    scroll-behavior: smooth;
  }

/* @font-face {
    font-family: Manrope;
    src: url(Fonts/Manrope-Regular.ttf);
  } */

.navbar{
  background-color: #212329;
  height: 80px;
  font-size: 30px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbarcontainer{
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*Website logo styling*/
.logolink {
  display: block;
  width: 100%
  left: 10;
}

.navbarlogo{
  display: block;
  height: 100%;
}

.navbarmenu{
  align-items: center;
  padding-top: 64px;
}

.navbaritem{
  height: 80px;
  font-size: 15px;
  font-weight: bold;
  list-style: none;
  width: 200px;
  text-align: center;
}

.navbarlink{
  color: #7a8194;
  text-decoration: none;
  margin: 0 20px 50px 10px;
  letter-spacing: 2.5px;
}

.navbaritem :hover{
  cursor: pointer;
  color: #000000;
  transition: all 0.4s ease-out;
}

/*Subscribe button styling*/
.subBtn {
  background: none;
  text-decoration: none;
  margin: 0 20px 50px 0px;
  color: #7a8194;
  font-size: 15px;
  font-weight: bold;
  list-style: none;
  border: none;
  text-align: center;
  letter-spacing: 2.5px;
}

.subBtn :hover {
  cursor: pointer;
  color: #000000;
  transition: all 0.4s ease-out;
}

/* Modal pops up upon clicking the subscribe button */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(255,255,255, 0.9);
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%;  /* Could be more or less, depending on screen size */
  border-radius: 30px;
}

.highlightme {
  position: relative;
}

.highlightme:after {
  background-color: rgba(249,66,61,0.6);
  content: " ";
  height: 30%;
  position: absolute;
  left: 0;
  margin-left: -0.5rem;
  top: 65%;
  width: calc(100% + 1rem);
  z-index: -1;
}

.highlightme2 {
  position: relative;
}

.highlightme2:after {
  background-color: rgba(255,255,102,0.7);
  content: " ";
  height: 50%;
  position: absolute;
  left: 0;
  margin-left: -0.5rem;
  top: 55%;
  width: calc(100% + 1rem);
  z-index: -1;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*Styling of elements inside modal */
.modallogo {
  display: flex;
  justify-content: center;
}

.modal-content img{
  width: 50%;
}

.subscribedialogue {
  z-index: 10;
  position: relative;
}

.subscribedialogue h1{
  font-size: 25px;
  padding: 10px;
  text-align: center;
  z-index: 10;
  position: relative;
  width: 80%;
  margin: auto;
}

.subscribedialogue p {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  z-index: 10;
  position: relative;
  width: 80%;
  margin: auto;
}

.subscribeplan {
  padding: 10px;
  width: 80%;
  margin: 20px auto;
  background-color: #D0D0D0;
  padding: 20px;
  border-radius: 25px;
}

.subscribeplan h3{
  display: block;
  text-align: left;
  font-size: 20px;
  letter-spacing: 1.2px;
}

.promo {
 width: 100%;
 text-align: right;
}

.promo label {
  font-size: 15px;
}

.promo input {
  padding: 10px;
}

.cost {
  width: 100%;
  text-align : right;
  font-size: 18px;
}

.cost input {
  padding: 10px;
  font-size: 18px;
  background: none;
  width: 10%;
  border: none;
}

.choose {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  margin: auto;
  padding: 10px;
}

.choose span {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.choose span label span {
  font-size: 15px;
}

.align{
  margin-top: 10px;
}

.choose span label {
  margin: auto;
  text-align: center;
}

.choose span label:focus-within {
  color: #FF7377;
}

.choose span input {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0 auto;

  color: #FF7377;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #FF7377;
  border-radius: 50%;

  display: grid;
  place-content: center;
}

.choose span input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #FF7377;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

.choose span input:checked::before {
  transform: scale(1);
}

.choose span input:focus {
  outline: max(2px, 0.15em) solid #FF7377;
  outline-offset: max(2px, 0.15em);
}

.signup {
  text-align: center;
  font-size: 20px;
}

#modal-email{
  width: 50%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 16px;
  border: 2px solid black;
  justify-content: center;
}

#modal-email::placeholder{
  color: #b1b1b1;
}

#modal-email-btn{
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #F9423D;
  outline: none;
  border: none;
  color: #FFFF;
  font-size: 16px;
}

#modal-email-btn:hover{
  cursor: pointer;
  background-color: #337AF1;
  transition: all 0.4s ease-out;
}

 /* News button styling*/
.newsBtn {
  background: none;
  text-decoration: none;
  margin: 0 20px 50px 0px;
  color: #7a8194;
  font-size: 15px;
  font-weight: bold;
  list-style: none;
  border: none;
  text-align: center;
  letter-spacing: 2.5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  background-color: #212329;
  display: none;
  position: absolute;
  margin-top: -50px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2.5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
}

.dropdown-content li {
  padding: 5px;
  list-style: none;
  margin: 5px;
}

.dropdown-content a {
  padding: 5px;
  text-decoration: none;
  color: #7a8194;
  text-align: center;
}

.dropdown-content a:hover {
  cursor: pointer;
  color: #000000;
  transition: all 0.4s ease-out;
}

.dropdown:hover .dropdown-content {
  display: table-row-group;
}

.dropdown:hover .dropbtn {
  cursor: pointer;
  transition: all 0.5s ease-out;
}

/*footer*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.footercontainer{
  background-color: #212329;
  padding: 64px 0 64px 0;
}

.footer{
  width: 80%;
  height: 35vh;
  background-color: #212329;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footerhead{
  display: flex;
  flex-direction: column;
  margin-right: 64px;
}

.footerhead h2{
  margin-bottom: 32px;
}

.footerhead a{
  color: #fff;
  text-decoration: none;
  margin-bottom: 8px;
  cursor: pointer;
}

.footerhead a:hover{
  color: red;
  transition: 0.5s ease-out;
}

.footer-email h2{
  margin-bottom: 32px;
}

#footer-email{
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 8px;
  font-size: 16px;
  margin-bottom: 16px;
}

#footer-email::placeholder{
  color: #b1b1b1;
}

#footer-email-btn{
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #F9423D;
  outline: none;
  border: none;
  color: #FFFF;
  font-size: 16px;
}

#footer-email-btn:hover{
  cursor: pointer;
  background-color: #337AF1;
  transition: all 0.4s ease-out;
}

@media (max-width: 4000px) and (min-width: 1001px) {
  .sidenav{
    display: none;
  }

  .icon {
    display: none;
  }

  .navbarmenu {
    display: flex !important;
  }

}

@media (max-width: 1000px) and (min-width: 768px) {
  .navbarmenu {
    display: none !important;
  }

  .container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-1px, 13px);
  transform: rotate(-45deg) translate(-1px, 13px);
  width: 20px;
  height: 4px;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-2px, -14px);
  transform: rotate(45deg) translate(-2px, -14px);
  width: 20px;
  height: 4px;
}

  .sidenav {
    background-color: #212329;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 80px;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sidenav a {
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.dropdown {
  width: 100%;
}

.navbaritem {
  width: 100%;
  text-align: center;
}

  .icon {
  display: inline-block;
  padding: 15px;
  margin-left: 15px;
  float: right;
  }

  .icon:hover {
  background-color: black;
}

}

@media (max-width: 768px) and (min-width: 576px) {
.navbarmenu {
    display: none !important;
  }

  .container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-1px, 13px);
  transform: rotate(-45deg) translate(-1px, 13px);
  width: 20px;
  height: 4px;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-2px, -14px);
  transform: rotate(45deg) translate(-2px, -14px);
  width: 20px;
  height: 4px;
}

  .sidenav {
    background-color: #212329;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 80px;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sidenav a {
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.dropdown {
  width: 100%;
}

.navbaritem {
  width: 100%;
  text-align: center;
}

  .icon {
  display: inline-block;
  padding: 15px;
  margin-left: 15px;
  float: right;
  }

  .icon:hover {
  background-color: black;
}


}

@media (max-width: 576px) and (min-width: 320px) {

  .modal-content {
    width: 80% !important;
  }

  .cost input {
    width: 20%;
}

  .navbarmenu {
    display: none !important;
  }

  .container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-1px, 13px);
  transform: rotate(-45deg) translate(-1px, 13px);
  width: 20px;
  height: 4px;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-2px, -14px);
  transform: rotate(45deg) translate(-2px, -14px);
  width: 20px;
  height: 4px;
}

  .sidenav {
  background-color: #212329;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 55;
  top: 80px;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sidenav a {
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 10vw;
  margin-left: 50px;
}

.dropdown {
  width: 100%;
}

.navbaritem {
  width: 100%;
  text-align: center;
}

  .icon {
  display: inline-block;
  padding: 15px;
  margin-left: 15px;
  float: right;
  }

  .icon:hover {
  background-color: black;
}

}
